<?xml version="1.0" encoding="UTF-8"?>
<routes>
    <route id="1">
        <title>
            黄石 大提顿两大公园自然景观
        </title>
        <description>
            &lt;h2&gt;行程特色&lt;/h2&gt;
            &lt;p&gt;
                * 穿越河谷 走进自然 可爱的野生动物带给你纯真乐趣&lt;br/&gt;
                * 峡谷清秀 喷泉涌动 古老神秘的黄石公园等你去发现&lt;br/&gt;
                * 你的假期也许不长 但胜在品质够优良&lt;br/&gt;
                * 导游：5~20年以上带团经验，最优秀的资深导游；&lt;br/&gt;
                * 司机：至少10年以上安全驾驶经验；&lt;br/&gt;
                * 大巴：全程豪华欧洲旅游大巴接待，黄色巴士（限时）提供免费WI-FI服务；&lt;br/&gt;
                * 行程：安排最合理，车程短，不走回头路；&lt;br/&gt;
                * 餐饮：提供特价自助餐，特价$14.99/$10.99(小孩5-10岁），买一送一，价格含税、小费、饮料，即客人付$14.99，便可享受往返共2餐自助餐！&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;
            &lt;h2&gt;第1天 原居地 - 盐湖城&lt;/h2&gt;
            &lt;p&gt;
                乘坐飞机前往犹他州首府盐湖城，并自行乘坐酒店免费班车去酒店入住（请与酒店前台人员确认乘坐班车地点）。&lt;br/&gt;
                *请在出团前一天确认导游电话，盐湖城参团的客人到达后请自行乘坐Comfort Inn Salt Lake City Airport 免费专车前往酒店。&lt;br/&gt;
                住宿： Comfort Inn Airport, Salt Lake City&lt;br/&gt;
                交通：豪华空调巴士&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;
            &lt;h2&gt;第2天 盐湖城-杰克逊小镇-大提顿国家公园-黄石国家公园&lt;/h2&gt;
            &lt;p&gt;
                早晨前往黄石公园，途经著名牛仔州——怀俄明州。一路上可见辽阔的草原、悠闲的牛、羊群。&lt;br/&gt;
                在用过了充满西部风味的杰克逊午餐后，沿著蛇河河谷进入大提顿国家公园。高耸入云的山峰覆盖着千年的冰河，犹如进入人间仙境。&lt;br/&gt;
                晚些时候进入黄石公园，沿途可发现成群的美洲水牛及麋鹿好像在等着游客为它们拍照，就像进入了野生动物园。&lt;br/&gt;
                夜宿黄石公园。&lt;br/&gt;
                住宿： 黄石小木屋或西黄石&lt;br/&gt;
                交通：豪华空调巴士&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;
            &lt;h2&gt;第3天 黄石国家公园-大提顿国家公园-杰克森-盐湖城&lt;/h2&gt;
            &lt;p&gt;
                上午游览黄石公园，浪漫的黄石湖、宏伟秀丽的黄石峡谷、万马奔腾的黄石瀑布、奇妙的老忠实喷泉、神秘的巨象温泉都分布在这古老的火山高原及全美最大的野生动物保护区里，黑熊、灰熊、高角鹿和多种稀有水鸟也以此为家。&lt;br/&gt;
                夜宿盐湖城。&lt;br/&gt;
                住宿： Ramada Limited, Salt Lake City 或同级&lt;br/&gt;
                交通：豪华空调巴士&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;
            &lt;h2&gt;第4天 盐湖城 - 家园&lt;/h2&gt;
            &lt;p&gt;
                上午参观摩门教大教堂、犹他州政府大厦。午后乘机返回家园，结束让您毕生难忘的黄石假期。&lt;br/&gt;
                *请安排12:00PM后的航班离开盐湖城（SLC），不含送机，可乘坐酒店免费班车去机场。&lt;br/&gt;
                交通：豪华空调巴士&lt;br/&gt;
            &lt;/p&gt;
        </description>
        <profile>
            images/routes/1426466456298911104778756292028.jpg
        </profile>
        <pics>
            <pic>images/routes/1426466456298911104778756292028.jpg</pic>
            <pic>images/routes/1400059437198546616173653455598.jpg</pic>
            <pic>images/routes/140005946297616501178011035031082.jpg</pic>
            <pic>images/routes/136323524010815629407721414654376.jpg</pic>
        </pics>
        <price>
            $289
        </price>
        <reviews>
            <guide>100%</guide>
            <tour>90%</tour>
            <hotel>80%</hotel>
            <point>90%</point>
            <count>3</count>
            <review>
                <point>90%</point>
                <name>游客</name>
                <time>2014-07-17 05:14:09</time>
                <comment>一个周末 没有过多准备就投入了黄石的怀抱 轻松 自在 美极了的风景 好极了的心情</comment>
            </review>
            <review>
                <point>100%</point>
                <name>游客</name>
                <time>2014-07-03 05:04:26</time>
                <comment>景色不错，导游很热情。酒店干净舒适。赞一个。</comment>
            </review>
            <review>
                <point>80%</point>
                <name>游客</name>
                <time>2014-06-26 04:50:16</time>
                <comment>行程很喜欢，主要是来看黄石公园的，两天的时间很充裕，黄石公园很赞，完全Surprise!</comment>
            </review>
        </reviews>
    </route>

    <route id="2">
        <title>
            [美西经典 旧金山 丹麦村 圣塔芭芭拉 17里湾 赏心悦目之旅] 4 天 3 夜
        </title>
        <description>
            &lt;h2&gt;行程特色&lt;/h2&gt;
            &lt;p&gt;
            一人成行！天天出发！买二送一！&lt;br/&gt;
            全程豪华欧洲旅游大巴接待，每辆巴士均提供免费WIFI服务（限时）及充电服务！&lt;br/&gt;
            我们将带你穿越“美国的蔚蓝海岸"-圣塔芭芭拉，领略南加州风情、悠游纯美俏丽小城-丹麦村，感受北欧的浪漫、畅游旧金山欣赏充满趣味的渔人码头，漫步难以置信的建筑奇迹-金门大桥；&lt;br/&gt;
            全程选用优质酒店，每晚让你睡出好梦；&lt;br/&gt;
            经验丰富的导游将提供专业解说，为你讲述美景背后的动人故事；&lt;br/&gt;
            新型豪华空调巴士给你舒适的乘坐体验；&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;

            &lt;h2&gt;第1天 洛杉矶接机&lt;/h2&gt;
            &lt;p&gt;
            洛杉矶机场接机地点：&lt;br/&gt;
            Terminal 1：1号行李领取处旁Hudson News便利店；&lt;br/&gt;
            Terminal 2：2号行李领取处；&lt;br/&gt;
            Terminal 3：A号行李领取处；&lt;br/&gt;
            Terminal 4：星巴克咖啡（Starbucks）；&lt;br/&gt;
            Terminal 5：3号行李领取处；&lt;br/&gt;
            Terminal 6：资讯台及ATM机（Information and ATM）；&lt;br/&gt;
            Terminal 7/8：1号行李领取处。&lt;br/&gt;
            国际航班：请在国际航站楼（Terminal B）左侧Relay便利店等候。&lt;br/&gt;
            免费接机时间： (08:30~22:30，每1个小时一班) 08:30 / 09:30 / 10:30 / 11:30 / 12:30 / 13:30 / 14:30 / 15:30 / 16:30 / 17:30 / 18:30 / 19:30 / 20:30 / 21:30 / 22:30&lt;br/&gt;
            住宿：Howard Johnson Fullerton 或同级&lt;br/&gt;
            交通：豪华空调巴士&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;
            &lt;h2&gt;第2天 洛杉矶-圣塔芭芭拉-丹麦村-旧金山&lt;/h2&gt;
            &lt;p&gt;
            上午从洛杉矶出发，沿着太平洋海岸线一路欣赏风景，前往被誉为“美国的蔚蓝海岸”的圣塔芭芭拉。这里的建筑物采用了早期西班牙殖民时期风格，并于现代建筑学融合，使它拥有一种休闲优雅的风格，是能让游客体验南加州风情的最好去处之一。接下来前往丹麦村，欣赏古老的风车，北欧式的建筑物。在街上可以享用闻名于世的丹麦饼干、欧式风格的香醇咖啡，让参观的旅客有种在欧洲小村的错觉。用完餐后将北上前往硅谷，参观世界知名科技公司的总部，于傍晚时分抵达旧金山。
            住宿：Courtyard Marriott Hotel 或同级&lt;br/&gt;
            交通：豪华空调巴士&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;
            &lt;h2&gt;第3天 斯坦福大学-旧金山市区游&lt;/h2&gt;
            &lt;p&gt;
            上午前往斯坦福大学参观。然后驱车前往三面环海、由50多个山丘组成的旧金山市。随后参观美国西岸的标志性桥梁，被称为“不可能的大桥”的金门大桥；游览最热闹的渔人码头，更可乘坐游船欣赏旧金山海湾；1915年巴拿马政府赠予的世界博览会遗址罗马艺术宫；以及著名的九曲花街，都让您流连忘返。尤其是旧金山高低起伏的地形，配合维多利亚式的古典建筑，加上凉爽舒适的海风，构成了吸引成千上万观光客拜访这个城市的主要原因。&lt;br/&gt;
            住宿：Courtyard Marriott Hotel或同级&lt;br/&gt;
            交通：豪华空调巴士&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;
            &lt;h2&gt;第4天 17里湾-洛杉矶&lt;/h2&gt;
            &lt;p&gt;
            早上7:00从酒店出发，前往如诗如画的蒙特利半岛。轻柔的海风、蜿蜓的海岸、澎湃的浪花、奇形的礁石、还有可爱的海狗海狮徜徉其间；亿万富豪的别墅美伦美奂（闻名中外的国画大师张大千曾于此居住十年），世界顶级的高尔夫球场绵延不止（停留拍照，举办过5次大满贯）… 17里（门票已含）的海景令人心旷神怡。世界闻名的加州1号公路（途经）、蜜月圣地情侣角（停留拍照）、17里的绝美海景…接踵而来的惊喜让人不禁沉醉于海风、海浪声与蒙特利半岛的诗情画意中。世界闻名的蒙特利水族馆（门票$40自费，1小时20分钟）建于海边，是每个来蒙特利半岛的游客都必去的一个地方。馆内有6500种海洋生物，各式各样色彩鲜艳的鱼类，长得千奇百怪的海底生物，更有在水族馆海滨礁石旁自由自在飞翔的海鸥。傍晚返回洛杉矶。&lt;br/&gt;
            交通：豪华空调巴士&lt;br/&gt;
            &lt;/p&gt;
        </description>
        <profile>
            images/routes/13995373918782531707262065254731.jpg
        </profile>
        <pics>
            <pic>images/routes/13995377230615273813361971084924.jpg</pic>
            <pic>images/routes/13995373918782531707262065254731.jpg</pic>
            <pic>images/routes/13995377598852192783612103399625.jpg</pic>
            <pic>images/routes/1413784368047325503041260949539.jpg</pic>
        </pics>
        <price>
            $156
        </price>
        <reviews>
            <guide>100%</guide>
            <tour>100%</tour>
            <hotel>100%</hotel>
            <point>100%</point>
            <count>2</count>
            <review>
                <point>100%</point>
                <name>游客</name>
                <time>2015-01-06 01:04:24</time>
                <comment>我们入住的酒店干干净净的 食物也美美的 一切都很满意!</comment>
            </review>
            <review>
                <point>100%</point>
                <name>游客</name>
                <time>2014-12-23 20:38:22</time>
                <comment>跟团出游最重要的就是导游，这次非常成功!</comment>
            </review>
        </reviews>
    </route>

    <route id="3">
        <title>
            [此兴悠哉-洛杉矶主题游乐畅意自选] 4 天 3 夜
        </title>
        <description>
            &lt;h2&gt;行程特色&lt;/h2&gt;
            &lt;p&gt;
            穿越光影 好莱坞影城过足戏瘾；&lt;br/&gt;
            温情时刻 迪士尼乐园童趣纯真；&lt;br/&gt;
            大开眼界 海洋世界轻松学知识；&lt;br/&gt;
            琳琅满目 棕榈泉惠选畅购一日；&lt;br/&gt;
            天使之城 市区览风景这边独好；&lt;br/&gt;
            圣地亚哥 观航母豪气冲上云霄；&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;

            &lt;h2&gt;第1天 洛杉矶接机&lt;/h2&gt;
            &lt;p&gt;
            洛杉矶机场接机地点：&lt;br/&gt;
            Terminal 1：1号行李领取处旁Hudson News便利店；&lt;br/&gt;
            Terminal 2：2号行李领取处；&lt;br/&gt;
            Terminal 3：A号行李领取处；&lt;br/&gt;
            Terminal 4：星巴克咖啡（Starbucks）；&lt;br/&gt;
            Terminal 5：3号行李领取处；&lt;br/&gt;
            Terminal 6：资讯台及ATM机（Information and ATM）；&lt;br/&gt;
            Terminal 7/8：1号行李领取处。&lt;br/&gt;
            国际航班：请在国际航站楼（Terminal B）左侧Relay便利店等候。&lt;br/&gt;
            免费接机时间： (08:30~22:30，每1个小时一班) 08:30 / 09:30 / 10:30 / 11:30 / 12:30 / 13:30 / 14:30 / 15:30 / 16:30 / 17:30 / 18:30 / 19:30 / 20:30 / 21:30 / 22:30&lt;br/&gt;
            住宿：Howard Johnson Fullerton 或同级&lt;br/&gt;
            交通：豪华空调巴士&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;
            &lt;h2&gt;第2天 六大主题项目任选一&lt;/h2&gt;
            &lt;p&gt;
            1、好莱坞影城&lt;br/&gt;
            2、洛杉矶市区游&lt;br/&gt;
            3、棕榈泉购物&lt;br/&gt;
            4、海洋世界&lt;br/&gt;
            5、圣地亚哥一日游&lt;br/&gt;
            6、迪士尼乐园&lt;br/&gt;
            住宿：Howard Johnson Fullerton 或同级&lt;br/&gt;
            交通：豪华空调巴士&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;
            &lt;h2&gt;第3天 六大主题项目任选一&lt;/h2&gt;
            &lt;p&gt;
            1、好莱坞影城&lt;br/&gt;
            2、洛杉矶市区游&lt;br/&gt;
            3、棕榈泉购物&lt;br/&gt;
            4、海洋世界&lt;br/&gt;
            5、圣地亚哥一日游&lt;br/&gt;
            6、迪士尼乐园&lt;br/&gt;
            住宿：Howard Johnson Fullerton 或同级&lt;br/&gt;
            交通：豪华空调巴士&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;
            &lt;h2&gt;第4天 17里湾-洛杉矶&lt;/h2&gt;
            &lt;p&gt;
            1、好莱坞影城&lt;br/&gt;
            2、洛杉矶市区游&lt;br/&gt;
            3、棕榈泉购物&lt;br/&gt;
            4、海洋世界&lt;br/&gt;
            5、圣地亚哥一日游&lt;br/&gt;
            6、迪士尼乐园&lt;br/&gt;
            交通：豪华空调巴士&lt;br/&gt;
            &lt;/p&gt;
        </description>
        <profile>
            images/routes/140133106718412923464961206303919.jpg
        </profile>
        <pics>
            <pic>images/routes/140133106718412923464961206303919.jpg</pic>
            <pic>images/routes/1401332170969249024949261516723.jpg</pic>
            <pic>images/routes/140133211263821188609891830221569.jpg</pic>
            <pic>images/routes/14013321395561930491791457451781.jpg</pic>
        </pics>
        <price>
            $510
        </price>
        <reviews>
            <guide>100%</guide>
            <tour>100%</tour>
            <hotel>100%</hotel>
            <point>100%</point>
            <count>5</count>
            <review>
                <point>100%</point>
                <name>游客</name>
                <time>2015-03-09 01:44:14</time>
                <comment>圣地亚哥海洋世界既是动物园又是游乐场，各种海洋动物表演着实可爱!</comment>
            </review>
            <review>
                <point>100%</point>
                <name>游客</name>
                <time>2015-01-07 01:12:28</time>
                <comment>老婆买到眼花，我陪逛到腿软！哈哈，她高兴就好！</comment>
            </review>
            <review>
                <point>100%</point>
                <name>游客</name>
                <time>2014-11-19 20:48:54</time>
                <comment>洛杉矶迪士尼乐园就是孩子们的乐园，特别大，好玩的特别多，好喜欢这里啊！</comment>
            </review>
            <review>
                <point>100%</point>
                <name>游客</name>
                <time>2014-10-28 05:32:36</time>
                <comment>孩子非常喜欢迪士尼乐园，真正玩起来才发现各个年龄段的人都能体验到乐趣，真不错！</comment>
            </review>
            <review>
                <point>100%</point>
                <name>游客</name>
                <time>2014-06-26 04:48:48</time>
                <comment>一直想去迪士尼玩，这次终于有机会了，好开心啊，主题公园很好玩！</comment>
            </review>
        </reviews>
    </route>

    <route id="4">
        <title>
            [优胜美地国家公园、拉斯维加斯、大峡谷西缘－『天空步道』玻璃桥] 4 天 3 夜
        </title>
        <description>
            &lt;h2&gt;行程特色&lt;/h2&gt;
            &lt;p&gt;
            畅游美西奇秀绝奇的优胜美地国家公园，并饱览大峡谷壮丽的景色。&lt;br/&gt;
            全程豪华欧洲旅游大巴接待，每辆巴士均提供免费WIFI服务（限时）及充电服务！&lt;br/&gt;
            全程选用优质酒店，每晚让你睡出好梦；&lt;br/&gt;
            经验丰富的导游将提供专业解说，为你讲述美景背后的动人故事；&lt;br/&gt;
            新型豪华空调巴士给你舒适的乘坐体验；&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;

            &lt;h2&gt;第1天 湾区（Bay Area）－优胜美地（Yosemite National Park）－弗雷斯诺（Fresno）&lt;/h2&gt;
            &lt;p&gt;
            游览美西最负盛名的优胜美地国家公园，一路怪石嶙峋，悬崖峭壁，千丈飞瀑，万里峰峦，彷佛置身世外；&lt;br/&gt;
            公园内著名景区依次如下：新娘面纱瀑布，船长巨岩，昆仲斜岩石，金沙江，观瀑桥，半球巨岩，断层飞瀑，南眺景等。&lt;br/&gt;
            夜宿加州中部 第一大城弗雷斯诺。&lt;br/&gt;
            住宿：Park Inn by Radisson Fresno 或 Holiday Inn Fresno Airport 或同级&lt;br/&gt;
            交通：豪华空调巴士&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;
            &lt;h2&gt;第2天 弗雷斯诺（Fresno）－拉斯维加斯（Las Vegas）&lt;/h2&gt;
            &lt;p&gt;
            早上前往名牌工厂直销中心，您可选购各式名牌衣物。下午直驶世界第一大赌城拉斯维加斯，有兴趣可参加自费夜游。&lt;br/&gt;
            景点包括： 百乐吉、凯撒宫、金银岛、幻景、海市蜃楼等。巨型赌场内一试运气，并欣赏彩色缤纷的神奇夜景，犹如天上人间，更可观赏举世知名的豪华歌舞表演。&lt;br/&gt;
            住宿： Excalibur Hotel and Casino或同级&lt;br/&gt;
            交通：豪华空调巴士&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;
            &lt;h2&gt;第3天 拉斯维加斯－西大峡谷玻璃桥『天空步道』－拉斯维加斯&lt;/h2&gt;
            &lt;p&gt;
            途经美国历史上一项伟大的水利及建筑工程－胡佛水坝，接着前往世界七大奇景之一「大峡谷」。&lt;br/&gt;
            大峡谷西缘属于Hualapai印第安保留区。华人David Jin在此建设透明的玻璃桥；悬空4000多尺，能支撑71架波音747的重量；团友可自费踏步于『天空步道』上；并可自费参加「海空原始之旅」，乘搭直升机空中鸟瞰这鬼斧神工的大峡谷，以飞鹰的角度环视大峡谷的天然奇景，并降落于谷底科罗拉多河畔，再转乘游船畅游科罗拉多河。&lt;br/&gt;
            此外，还有机会欣赏到印第安人的跳舞表演，让您的自然之旅更加充实。&lt;br/&gt;
            住宿： Excalibur Hotel and Casino或同级&lt;br/&gt;
            交通：豪华空调巴士&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;
            &lt;h2&gt;第4天 拉斯维加斯（Las Vegas）－湾区（Bay Area）&lt;/h2&gt;
            &lt;p&gt;
            早上专车直驶湾区，全程游毕。&lt;br/&gt;
            或： 拉斯维加斯自行离团&lt;br/&gt;
            或： 乘坐本公司巴士前往洛杉矶， 每人另加 $35&lt;br/&gt;
            交通：豪华空调巴士&lt;br/&gt;
            &lt;/p&gt;
        </description>
        <profile>
            images/routes/14001258435572043803773264621941.jpg
        </profile>
        <pics>
            <pic>images/routes/14001258435572043803773264621941.jpg</pic>
            <pic>images/routes/140012633841318949812761911168940.png</pic>
            <pic>images/routes/1366877431843534995096883763033.jpg</pic>
            <pic>images/routes/136687741834321370706911845239623.jpg</pic>
        </pics>
        <price>
            $248
        </price>
        <reviews>
            <guide>100%</guide>
            <tour>100%</tour>
            <hotel>100%</hotel>
            <point>100%</point>
            <count>4</count>
            <review>
                <point>100%</point>
                <name>游客</name>
                <time> 2015-01-26 02:31:21</time>
                <comment>自然的、人文的，完美结合，超值的价格，很满意！</comment>
            </review>
            <review>
                <point>100%</point>
                <name>游客</name>
                <time> 2014-11-23 19:21:37</time>
                <comment>个人感觉四季应该都非常适合去，果然自然的景色是最美好的！</comment>
            </review>
            <review>
                <point>100%</point>
                <name>游客</name>
                <time>2014-08-25 04:13:28</time>
                <comment>优胜美地公园镜子湖湖水特别清澈，湖边有当地人在垂钓，仿佛人间仙境。</comment>
            </review>
            <review>
                <point>100%</point>
                <name>游客</name>
                <time>2014-08-17 23:29:29</time>
                <comment>一路导游很好，很调动大家的气氛。酒店很舒服。可以很好的养好精神第二天精神抖擞。</comment>
            </review>
        </reviews>
    </route>

    <route id="5">
        <title>
            [拉斯维加斯、锡安公园、布莱斯峡谷、羚羊峡谷、鲍威尔湖] 4 天 3 夜
        </title>
        <description>
            &lt;h2&gt;行程特色&lt;/h2&gt;
            &lt;p&gt;
            羚羊峡谷（Antelope Canyon）是世界上著名的狭缝型峡谷之一，其位于美国亚利桑纳州北方，最靠近的城市为佩吉市，属于纳瓦荷原住民保护区。是柔软的砂岩经过百万年的各种侵蚀力所形成，主要是暴洪的侵蚀，其次则是风蚀。该地在季风季节里常出现暴洪流入峡谷中，由于突然暴增的雨量，造成暴洪的流速相当快，加上狭窄通道将河道缩小，因此垂直侵蚀力也相对变大，形成了羚羊峡谷底部的走廊，以及谷壁上坚硬光滑、如同流水般的边缘。&lt;br/&gt;
            经验丰富的导游将提供专业解说，为你讲述美景背后的动人故事；&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;

            &lt;h2&gt;第1天 湾区(Bay Area)－拉斯维加斯(Las Vegas) &lt;/h2&gt;
            &lt;p&gt;
            巴士直驶世界第一大赌城拉斯维加斯，景点包括：百乐吉、凯撒宫、金银岛、幻景、海市蜃楼等。巨型赌场内一试运气、并欣赏色彩缤纷的神奇夜景、犹如天上人间、更可观赏举世知名的豪华歌舞表演（自费）。&lt;br/&gt;
            住宿：Excalibur Hotel and Casino或同级&lt;br/&gt;
            交通：豪华空调巴士&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;
            &lt;h2&gt;第2天 拉斯维加斯－锡安国家公园 （Zion National Park）－布莱斯峡谷国家公园 －佩吉（Page）&lt;/h2&gt;
            &lt;p&gt;
            是日来到秀丽的锡安国家公园 （Zion National Park），雄伟的赤壁，潺潺的溪流，傲立的苍松，冰河的遗迹，使您有如置身于世外桃源一般。
            接着游览海拔八千尺高的布莱斯峡谷国家公园（Bryce Canyon National Park），上万个由风霜雪雨、历经百万年侵蚀而成的石柱，有的如宝剑直插入云，有的如少女婷婷玉立， 由不得您不赞叹宇宙沧海桑田和造物者的神奇。&lt;/h2&gt;
            住宿：Quality Inn at Lake Powell 或同级&lt;br/&gt;
            交通：豪华空调巴士&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;
            &lt;h2&gt;第3天 佩吉（Page）－鲍威尔湖（Lake Powell）－羚羊峡谷（Antelope Canyon）－拉斯维加斯&lt;/h2&gt;
            &lt;p&gt;
            上午前往科罗拉多河上的格兰峡谷水坝，可乘船（自费）游览美如仙境的鲍威尔湖（Lake Powell），湖光山色，尽享旅游乐趣，另可参加（自费）当地印第安人讲解的“羚羊峡谷”之旅（Antelope Slot Canyon）。
            羚羊峡谷（Antelope Canyon）是世界上著名的狭缝型峡谷之一，其位于美国亚利桑纳州北方，是柔软的砂岩经过百万年的各种侵蚀力所形成，主要是暴洪的侵蚀，其次则是风蚀。该地在季风季节里常出现暴洪流入峡谷中，由于突然暴增的雨量，造成暴洪的流速相当快，加上狭窄通道将河道缩小，因此垂直侵蚀力也相对变大，形成了峡谷底部的走廊，以及谷壁上坚硬光滑、如同流水般的边缘。&lt;/h2&gt;
            住宿： Excalibur Hotel and Casino或同级&lt;br/&gt;
            交通：豪华空调巴士&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;
            &lt;h2&gt;第4天 拉斯维加斯（Las Vegas）－湾区（Bay Area）&lt;/h2&gt;
            &lt;p&gt;
            早上专车直驶湾区，全程游毕。&lt;br/&gt;
            或： 拉斯维加斯自行离团&lt;br/&gt;
            或： 乘坐本公司巴士前往洛杉矶， 每人另加 $35&lt;br/&gt;
            交通：豪华空调巴士&lt;br/&gt;
            &lt;/p&gt;
        </description>
        <profile>
            images/routes/141135537885010475148361441131439.jpg
        </profile>
        <pics>
            <pic>images/routes/14113553442401035638303956957635.jpg</pic>
            <pic>images/routes/140012633841318949812761911168940.png</pic>
            <pic>images/routes/140012764824748938921285418360.jpg</pic>
            <pic>images/routes/141135537885010475148361441131439.jpg</pic>
        </pics>
        <price>
            $318
        </price>
        <reviews>
            <guide>90%</guide>
            <tour>80%</tour>
            <hotel>100%</hotel>
            <point>90%</point>
            <count>2</count>
            <review>
                <point>90%</point>
                <name>游客</name>
                <time> 2013-05-22 07:59:26</time>
                <comment>景色真是太漂亮了!</comment>
            </review>
            <review>
                <point>90%</point>
                <name>游客</name>
                <time> 2013-05-08 22:01:22</time>
                <comment>玩的很开心，酒店很干净，舒服。</comment>
            </review>
        </reviews>
    </route>

    <route id="6">
        <title>
            [绝美瀑布 多伦多 渥太华 蒙特利尔休闲之旅] 4 天 3 夜
        </title>
        <description>
            &lt;h2&gt;行程特色&lt;/h2&gt;
            &lt;p&gt;
            全程豪华巴士接送；&lt;br/&gt;
            中英双语导游讲解，更加详细的为游客讲述每一处景点的特点；&lt;br/&gt;
            4天3夜轻松游玩转美东各大著名景点，观赏被誉为“黑夜的彩虹”的尼亚加拉瀑布，最后伴着蒙特利尔的夕阳暂别愉快的旅程；&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;

            &lt;h2&gt;第1天 纽约 - 康宁中心/沃特金斯峡谷 - 尼亚加拉瀑布夜景 &lt;/h2&gt;
            &lt;p&gt;
            从纽约出发，前往康宁玻璃中心（冬季行程），发掘有三千五百年历史的手工艺宝藏，以及现场的玻璃制作，见识一下玻璃制作的全过程：高温下的玻璃液体怎么在能工巧匠的手里变成精美的装饰品。这是全球收藏量最多玻璃珍品的博物馆， 内有数百万件玻璃艺术品。客人可在玻璃中心廉价部购买比市面便宜很多的厨房玻璃炊具及用品等。随后前往尼亚加拉大瀑布，观赏印第安人真人秀，晚上观看尼亚加拉瀑布灯光照明夜景。&lt;br/&gt;
            （夏季行程） 朝北前往纽约五指湖区的沃特金斯峡州立公园。在这里，客人可以欣赏大自然塑造奇异风景，浏览色彩缤纷的花草树木，令人赏心悦目。 随后前往尼亚加拉大瀑布，观赏印第安人真人秀，晚上观看尼亚加拉瀑布灯光照明夜景。&lt;br/&gt;
            交通：豪华空调巴士&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;
            &lt;h2&gt;第2天 尼亚加拉瀑布 - 多伦多&lt;/h2&gt;
            &lt;p&gt;
            今天我们将乘坐“雾中少女号”（5 月-10 月）游轮继续观赏尼亚加拉瀑布，在船上你可以近距离感受瀑布带给你的巨大震撼，然后观看 IMAX 电影（自费） 了解尼亚加拉瀑布的传奇历史。随后穿越国界到加拿大境内，从另一个角度体验尼亚加拉瀑布之美。史凯隆塔能让游客自上而下俯瞰瀑布全景。继续前往多伦多—— 加拿大最大的城市。这里我们将参观中国城，多伦多市政厅以及议会大楼，还将登上多伦多著名的标志性建筑、加拿大境内最高的建筑——CN 塔，通过她的玻璃观景台了解其被提名为当代七大奇迹之一的原因。夜宿多伦多。&lt;br/&gt;
            交通：豪华空调巴士&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;
            &lt;h2&gt;第3天 多伦多 - 千岛湖 - 渥太华 - 蒙特利尔&lt;/h2&gt;
            &lt;p&gt;
            早晨出发前往千岛。千岛位于美国和加拿大之间，沿着圣劳伦斯和分布着 1864 个独立的岛屿，我们此行将乘游船（季节性项目）游览千岛最负盛名的景点，包括 有名的博尔特城堡，这座城堡修建于 1890 年代，是富豪乔治 Boldt 送给他爱妻 的礼物。我们还将看到世界上最短的跨国桥梁——一座连接加拿大和美国境内两 个岛屿的步行桥。随后前往加拿大的首都渥太华。在这里我们将参观宏伟的议会 大厦以及附近的钟塔。然后到达蒙特利尔，它是巴黎以外的世界最大的法语城市， 我们将参观奥林匹克塔，及 1976 年奥运会奥林匹克公园的部分建筑，另外还将 看到这一地区的两大著名的教堂：Notre-Dame 大教堂和圣约瑟夫大教堂。&lt;br/&gt;
            交通：豪华空调巴士&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;
            &lt;h2&gt;第4天 蒙特利尔 - 纽约&lt;/h2&gt;
            &lt;p&gt;
            今天我们将继续游览蒙特利尔老城，随后到达加拿大边境的免税商店购买精美礼物，最后返回纽约。&lt;br/&gt;
            交通：豪华空调巴士&lt;br/&gt;
            &lt;/p&gt;
        </description>
        <profile>
            images/routes/140126133652414864347561440963816.jpg
        </profile>
        <pics>
            <pic>images/routes/140126133652414864347561440963816.jpg</pic>
            <pic>images/routes/140126135626718311544471739410210.png</pic>
            <pic>images/routes/1404790370789259440995834178939.jpg</pic>
            <pic>images/routes/141439061775119618153971573126214.jpg</pic>
        </pics>
        <price>
            $132
        </price>
        <reviews>
            <guide>100%</guide>
            <tour>100%</tour>
            <hotel>100%</hotel>
            <point>100%</point>
            <count>3</count>
            <review>
                <point>100%</point>
                <name>游客</name>
                <time> 2014-12-04 04:28:33</time>
                <comment>酒店干净，导游暖心，行程相对比较合理!</comment>
            </review>
            <review>
                <point>100%</point>
                <name>游客</name>
                <time> 2014-10-28 05:27:42</time>
                <comment>尼亚加拉大瀑布好美！</comment>
            </review>
            <review>
                <point>100%</point>
                <name>游客</name>
                <time>2014-07-14 05:24:27</time>
                <comment>风景秀丽宜人，酒店干净舒适，这两点就足够了。</comment>
            </review>
        </reviews>
    </route>

    <route id="7">
        <title>
            [大苹果 - 纽约自由之旅] 4 天 3 夜
        </title>
        <description>
            &lt;h2&gt;行程特色&lt;/h2&gt;
            &lt;p&gt;
            全程豪华巴士接送；&lt;br/&gt;
            中英双语导游讲解，更加详细的为游客讲述每一处景点的特点；&lt;br/&gt;
            四天畅游纽约，感受大都市魅力!&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;

            &lt;h2&gt;第1天 出发地-大苹果纽约市 &lt;/h2&gt;
            &lt;p&gt;
            由原居地飞往纽约市，导游在机场（Baggage Claim）提行李处等候，送往酒店休息。&lt;br/&gt;
            住宿:  Sheraton Newark Hotel, 或同级&lt;br/&gt;
            交通：豪华空调巴士&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;
            &lt;h2&gt;第2天 纽约市内观光&lt;/h2&gt;
            &lt;p&gt;
            纽约市区游：中国城，参观华尔街金融区、世贸遗址、自由女神环游、联合国总部、时代广场、四十二街、航空母舰、著名的第五大道、帝国大厦、洛克菲勒中心。&lt;br/&gt;
            住宿:  Sheraton Newark Hotel, 或同级&lt;br/&gt;
            交通：豪华空调巴士&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;
            &lt;h2&gt;第3天 纽约市&lt;/h2&gt;
            &lt;p&gt;
            今天，您将能够享受自由活动在纽约市。&lt;br/&gt;
            住宿:  Sheraton Newark Hotel, 或同级&lt;br/&gt;
            交通：豪华空调巴士&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;
            &lt;h2&gt;第4天 纽约-出发地&lt;/h2&gt;
            &lt;p&gt;
            送往纽约机场返回家园。&lt;br/&gt;
            交通：豪华空调巴士&lt;br/&gt;
            &lt;/p&gt;
        </description>
        <profile>
            images/routes/14010840758261433990264578507673.jpg
        </profile>
        <pics>
            <pic>images/routes/14010840758261433990264578507673.jpg</pic>
            <pic>images/routes/14060154847092366075051126568942.jpg</pic>
            <pic>images/routes/135096249400012803493111105441334.jpg</pic>
            <pic>images/routes/1406015307736288977683877882769.png</pic>
        </pics>
        <price>
            $429
        </price>
        <reviews>
            <guide>100%</guide>
            <tour>100%</tour>
            <hotel>100%</hotel>
            <point>100%</point>
            <count>3</count>
            <review>
                <point>100%</point>
                <name>游客</name>
                <time>2014-10-31 04:26:11</time>
                <comment>4天来对于这里的印象就是繁华、快节奏、丰富多彩，不知道长期生活在这里会是怎样。</comment>
            </review>
            <review>
                <point>100%</point>
                <name>游客</name>
                <time>2014-10-28 02:03:06</time>
                <comment>一个行程游完了几个美国大城市！</comment>
            </review>
            <review>
                <point>100%</point>
                <name>游客</name>
                <time>2014-09-29 20:04:13</time>
                <comment>期待中的纽约之行，终于可以好好游览纽约了，哈哈，好兴奋！</comment>
            </review>
        </reviews>
    </route>

    <route id="8">
        <title>
            [激情夏威夷 魅力欧胡岛] 5 天 4 夜
        </title>
        <description>
            &lt;h2&gt;行程特色&lt;/h2&gt;
            &lt;p&gt;
            亲临珍珠港 抚摸战争痕迹 畅游威基基 领略海滩魅力；&lt;br/&gt;
            更有传统民俗歌舞表演 带你深刻了解夏威夷；&lt;br/&gt;
            贴心安排限时免费机场接送，方便您的出行；&lt;br/&gt;
            提供多家优质度假酒店任您升级，意犹未尽？还可加订！&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;

            &lt;h2&gt;第1天 原居地 – 檀香山机场 – 加长型礼车迎宾 – 酒店 &lt;/h2&gt;
            &lt;p&gt;
            国内班次：无论您是否携带行李，请到您搭乘班机的取行李处见面&lt;br/&gt;
            国际班次：请自己出站，接机人员在国际出口处接您（接机导游身穿绿色底，白色花图案的制服）&lt;br/&gt;
            接机热线：（08:30A-17:30P）请直拨1-800-821-1210（不必投币）&lt;br/&gt;
            （17:30P-23:45P）请直拨349-3358 请投币50 Cent&lt;br/&gt;
            住宿: Island Colony&lt;br/&gt;
            交通：迎宾车&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;
            &lt;h2&gt;第2天 珍珠港 – 中国城 – 市区观光（07:00A出发 – 11:45A返回）&lt;/h2&gt;
            &lt;p&gt;
            观赏第二次世界大战的珍贵纪录片，搭乘海军基地提供的军用汽艇，凭吊被日军炸沉的亚利桑那号战舰。接着前往参观美国太平洋国家军人烈士公墓，途经中国城参观孙中山先生铜像，夏威夷州政府大楼，夏威夷第一任国王铜像，国王皇宫，市政府大楼等。&lt;br/&gt;
            住宿: Island Colony&lt;br/&gt;
            交通：豪华空调巴士&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;
            &lt;h2&gt;第3天 环岛精华游（13:30P出发-17:30P返回）&lt;/h2&gt;
            &lt;p&gt;
            下午13:30PM出发，首先到达闻名世界的海滩-威基基海滩，之后前往钻石头火山，海景亮丽的冲浪中心，高级住宅区恐龙湾，海泉喷口，三温暖海滩，观赏兔子岛，乌龟岛，白色海滩，到夏威夷族保护区-大风口风景区参观夏威夷珊瑚制造过程。&lt;br/&gt;
            住宿: Island Colony&lt;br/&gt;
            交通：豪华空调巴士&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;
            &lt;h2&gt;第4天 大环岛-波利尼西亚文化中心&lt;/h2&gt;
            &lt;p&gt;
            下午13:30pm出发，穿过欧胡岛的中央山脉后，沿着海岸线往北走，途经中国帽子岛，钓鱼岛，沿线海景美不胜收。在42英亩大的波利尼西亚文化中心内，参观由七种不同部落组成的民俗文化村，并可享受丰富的自助晚餐，餐后观赏由一百多位表演者共同奉献的盛大夏威夷传统歌舞表演，及惊险真实的夏威夷吞火表演，历时八十分钟。&lt;br/&gt;
            住宿: Island Colony&lt;br/&gt;
            交通：豪华空调巴士&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;
            &lt;h2&gt;第5天 酒店 - 檀香山机场 - 原居地&lt;/h2&gt;
            &lt;p&gt;
            搭乘各大航空公司班机，回甜蜜的家园，祝旅途愉快！&lt;br/&gt;
            &lt;/p&gt;
        </description>
        <profile>
            images/routes/14037479603166932388451281741544.jpg
        </profile>
        <pics>
            <pic>images/routes/14037479603166932388451281741544.jpg</pic>
            <pic>images/routes/1403748082498167705710730771078.jpg</pic>
            <pic>images/routes/140374842972117780613485862733.jpg</pic>
            <pic>images/routes/14037485149237972597801154208637.jpg</pic>
        </pics>
        <price>
            $380
        </price>
        <reviews>
            <guide>100%</guide>
            <tour>100%</tour>
            <hotel>100%</hotel>
            <point>100%</point>
            <count>3</count>
            <review>
                <point>100%</point>
                <name>游客</name>
                <time>2015-03-18 01:58:03</time>
                <comment>海的颜色超美，浅水区特别清澈，往深处去逐渐从绿色过渡到深蓝色，真是大自然的鬼斧神工啊！</comment>
            </review>
            <review>
                <point>100%</point>
                <name>游客</name>
                <time>2014-12-31 03:17:17</time>
                <comment>珍珠港是必去的，这里停靠的密苏里号是历史课本上大名鼎鼎的日本签署二战投降书的战舰！</comment>
            </review>
            <review>
                <point>100%</point>
                <name>游客</name>
                <time> 2014-11-10 19:47:16</time>
                <comment>波利尼亚文化中心有7个不同的种族，风情各异，每天晚上都有民族特色的表演!</comment>
            </review>
        </reviews>
    </route>

    <route id="9">
        <title>
            [畅意自选游两岛-欧胡岛、茂宜岛或火山岛] 6 天 5 夜
        </title>
        <description>
            &lt;h2&gt;行程特色&lt;/h2&gt;
            &lt;p&gt;
            美妙的夏威夷海边之旅，吹着舒适的海风；&lt;br/&gt;
            赤着脚与你身边的另一半和家人，一起走在暖暖的沙滩的舒服的感觉可以放松你的心情；&lt;br/&gt;
            带上饮料悠闲的躺在沙滩上尽情享受午后的阳光。&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;

            &lt;h2&gt;第1天 原居地 – 檀香山机场 – 加长型礼车迎宾 – 酒店&lt;/h2&gt;
            &lt;p&gt;
            国内班次：无论您是否携带行李，请到您搭乘班机的取行李处见面&lt;br/&gt;
            国际班次：请自己出站，接机人员在国际出口处接您（接机导游身穿绿色底，白色花图案的制服）&lt;br/&gt;
            接机热线：（08:30A-17:30P）请直拨1-800-821-1210（不必投币）&lt;br/&gt;
            （17:30P-23:45P）请直拨349-3358 请投币50 Cent&lt;br/&gt;
            住宿: Island Colony&lt;br/&gt;
            交通：加长型礼车迎宾&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;
            &lt;h2&gt;第2天 珍珠港 – 中国城 – 市区观光（07:00A出发 – 11:45A返回）&lt;/h2&gt;
            &lt;p&gt;
            观赏第二次世界大战的珍贵纪录片，搭乘海军基地提供的军用汽艇，凭吊被日军炸沉的亚利桑那号战舰。接着前往参观美国太平洋国家军人烈士公墓，途经中国城参观孙中山先生铜像，夏威夷州政府大楼，夏威夷第一任国王铜像，国王皇宫，市政府大楼等。&lt;br/&gt;
            住宿: Island Colony&lt;br/&gt;
            交通：豪华空调巴士&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;
            &lt;h2&gt;第3天 环岛精华游（13:30P出发-17:30P返回）&lt;/h2&gt;
            &lt;p&gt;
            下午13:30PM出发，首先到达闻名世界的海滩-威基基海滩，之后前往钻石头火山，海景亮丽的冲浪中心，高级住宅区恐龙湾，海泉喷口，三温暖海滩，观赏兔子岛，乌龟岛，白色海滩，到夏威夷族保护区-大风口风景区参观夏威夷珊瑚制造过程。&lt;br/&gt;
            住宿: Island Colony&lt;br/&gt;
            交通：豪华空调巴士&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;
            &lt;h2&gt;第4天 大环岛-波利尼西亚文化中心&lt;/h2&gt;
            &lt;p&gt;
            下午13:30pm出发，穿过欧胡岛的中央山脉后，沿着海岸线往北走，途经中国帽子岛，钓鱼岛，沿线海景美不胜收。在42英亩大的波利尼西亚文化中心内，参观由七种不同部落组成的民俗文化村，并可享受丰富的自助晚餐，餐后观赏由一百多位表演者共同奉献的盛大夏威夷传统歌舞表演，及惊险真实的夏威夷吞火表演，历时八十分钟。&lt;br/&gt;
            住宿: Island Colony&lt;br/&gt;
            交通：豪华空调巴士&lt;br/&gt;
            &lt;/p&gt;&lt;br/&gt;
            &lt;h2&gt;第5天 火山岛/茂宜岛一日游(请任选一岛)(06:30A出发-18:30P返回)&lt;/h2&gt;
            &lt;p&gt;
            火山岛一日游 　　&lt;br/&gt;
            抵达火山岛后，首先游览火山口下的黑色沙滩，接着前往全美国唯一的夏威夷火山国家公园，参观火山博物馆，硕大的火山口，熔岩洞穴，地热喷泉等。下午参观兰花园，彩虹瀑布，夏威夷火山豆工厂。然后搭乘波音737喷射客机返回本岛(Honolulu)，返回酒店约18:30PM。 　&lt;br/&gt;　
            &lt;br/&gt;
            茂宜岛一日游 　
            06:30am我们在酒店接您，然后出发去机场，搭乘波音七三七喷射客机到有秀谷之岛美称的“茂宜岛”。 　&lt;br/&gt;　
            抵达茂宜岛后，首先参观著名的古战场，伊奥山谷民族公园，热带植物园，滨海公路(约在12月至4月可看到活泼可爱的鲸鱼)。接着前往捕鲸镇，又称太平洋艺术中心，鲸鱼博物馆，然后搭乘波音737喷射客机返回本岛(Honolulu)，返回酒店约18:30PM。&lt;br/&gt;
            &lt;/p&gt;
            住宿: Island Colony&lt;br/&gt;
            交通：豪华空调巴士&lt;br/&gt;&lt;br/&gt;
            &lt;h2&gt;第6天 酒店 - 檀香山机场 - 原居地&lt;/h2&gt;
            &lt;p&gt;
            搭乘各大航空公司班机，回甜蜜的家园，祝旅途愉快!&lt;br/&gt;
            &lt;/p&gt;
            交通：豪华空调巴士&lt;br/&gt;
        </description>
        <profile>
            images/routes/135158105906917973399061834285091.png
        </profile>
        <pics>
            <pic>images/routes/14162121432358661954411356807051.jpg</pic>
            <pic>images/routes/135158105906917973399061834285091.png</pic>
            <pic>images/routes/1416212436665635893269991069044.jpg</pic>
            <pic>images/routes/141621279746213377952571157671868.jpg</pic>
        </pics>
        <price>
            $725
        </price>
        <reviews>
            <guide>100%</guide>
            <tour>100%</tour>
            <hotel>100%</hotel>
            <point>100%</point>
            <count>3</count>
            <review>
                <point>100%</point>
                <name>游客</name>
                <time>2014-12-31 03:34:56</time>
                <comment>夏威夷实在是全家度假的圣地，蜜月旅行的天堂！</comment>
            </review>
            <review>
                <point>100%</point>
                <name>游客</name>
                <time>2014-10-31 04:28:31</time>
                <comment>夏威夷太美了，有机会还会来玩儿的！</comment>
            </review>
            <review>
                <point>100%</point>
                <name>游客</name>
                <time>2014-07-16 04:10:04</time>
                <comment>夏威夷的海水特别特别蓝,是我见过的最清澈的海水!</comment>
            </review>
        </reviews>
    </route>

</routes>
